body {
    font-family: 'Raleway', sans-serif;
}

.monospace-font {
    /*font-family: 'Inconsolata', monospace;*/
    /*font-family: 'Share Tech Mono', monospace;*/
    font-family: 'Cousine', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
.serif-font {
    font-family: 'Tienne', serif;
}

