{% extends "base.html" %}
{% block title %}
  Peptide Sequence Conversion Tool
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <h2></h2>
  </div>

  <div class="row">
    <div class="col-md-9 col-md-push-3">
      <h1>Peptide Sequence Conversion Tool</h1>
      <p>Enter your 1-Letter AA chain sequence in the text box and click on the "Convert" button. All spaces will be ignored. Any lowercase letters entered will default to the regular form AA unless <strong>"Allow D-forms of AA"</strong> is checked.</p>

        <form action="" method="post" name="convert1">
          {{ form.hidden_tag() }}
          <p>
            {{ form.aa_string(size=80) }}<br />
            {{ form.d_forms.label }} {{ form.d_forms }}<br />
            {{ form.convert3.label }} {{ form.convert3 }}<br />
            {{ form.submit }}
          </p>
        </form>

        <h5>Converting:</h5>
        <h4 class="info">{{ result.chain }}</h4>
        <br />

        <h5> Result:</h5>
        <h4 class="info"> {{ result.conversion }}</h4>
        <br />

          <table class="table table-striped table-hover table-condensed">
            <tr>
              <th>Total number of AA in chain</th><th>{{ result.length }}</th>
              <th>M.W. = {{ '%0.2f' % result.mo_weight|float }} g/mol</th>
            </tr>
            <tr><th>Amino Acid</th><th>Count</th><th>Percent</th></tr>
          {% if result.aa_stats %}
          {% for key, value in result.aa_stats.iteritems() %}
            {% if key == 'Cysteine' or key == 'D-Cysteine' %}
              <tr class="danger">
            {% else %}
              <tr>
            {% endif %}
              <td>{{ key }}</td><td>{{ value }}</td>
              <td>{% set aa_percent = value/result.length*100 %}
                 {{ '%0.1f' % aa_percent|float }}%
              </td>
            </tr>
          {% endfor %}
          {% endif %}
          </table>

    </div>

    <div class="col-md-3 col-md-pull-9">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th>1-Letter</th><th>3-Letter</th><th>Name</th>
        </tr>

          {% for key, value in aa_dict.iteritems() %}
        <tr>
            {% if key.isupper() %}
          <td>{{ key }}</td><td>{{ value[0] }}</td><td>{{ value[1] }}</td>
            {% endif %}
        </tr>
          {% endfor %}
      </table>
    </div>
  </div>


</div>
{% endblock %}
